@import url('https://fonts.googleapis.com/css?family=Gravitas+One');

body {
}
.app-interface {
  margin: 24px auto 0 auto;
  width: 60%;
}

.navbar {
  padding-left: 20%;
}
.item {
  font-size: .8em;
}

.name {
  line-height: 108px;
  font-family: 'Gravitas One', cursive;
  font-size: 2em;
  color: #546e7a;
}

.item-list {
  margin: 15px 0 0 0;
  list-style-type: none;
  padding: 0;
}

.end-line {
  border-bottom: 1px solid gray;
  margin: 15px 0;
}

.label {
  font-size: 1.5em;
  font-weight: bold;
}

.entry {
  font-size: 1.5em;
}

.btn-primary {
  margin: 0px 600px 0 0px;
}

.add-list {
  font-size: 1.5em;
  text-align: center;
  background-color: #34495e;
  color: white;
  line-height: 1.8em;
  margin: 0;
  cursor: pointer;
}
.btn-danger{
float: right;
}

.form {
  padding: 30px 40px;
  overflow:auto;
  border: 1px solid gray;
}
